name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 12

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: owasp check
      run: mvn -Powasp-check -B verify --file pom.xml
      
    - name: plugin updates
      run: mvn org.codehaus.mojo:versions-maven-plugin:2.7:display-plugin-updates

    - name: dependency updates
      run: mvn org.codehaus.mojo:versions-maven-plugin:2.7:display-dependency-updates
